<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>gov.yopal.stic-agent</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Library/Application Support/STIC-Agent/agent_macos.py</string>
        <string>daemon</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Library/Application Support/STIC-Agent/agent.log</string>
    <key>StandardErrorPath</key>
    <string>/Library/Application Support/STIC-Agent/agent.err.log</string>
    <key>WorkingDirectory</key>
    <string>/Library/Application Support/STIC-Agent</string>
</dict>
</plist>
